.App {
  font-family: sans-serif;
  text-align: center;
}
body {
  text-align: center;
  background: #6ea9dc;
  color: white;
  font-family: "Roboto", sans-serif;
}

h1 {
  margin: 40px auto 0;
  font-size: 40px;
}
h2 {
  margin-bottom: 30px;
  font-size: 18px;
}
h3 {
  padding: 0 0 20px 0;
  color: white;
  margin: 0 auto;
}
ul {
  list-style-type: none;
  text-align: left;
  margin: 0;
  padding: 0;
}
a {
  color: #6ea9dc;
}
a:visited {
  color: white;
}
button {
  display: block;
  width: 105px;
  margin: 0 0 15px 0;
  background: #6ea9dc;
  border: 1px solid #6ea9dc;
  border-radius: 15px;
  color: white;
  font-size: 20px;
  transition: all 180ms ease-in-out;
  box-shadow: 3px 3px 2px 1px rgba(44, 76, 104, 0.2);
}
button:hover {
  background: white;
  border: 1px solid white;
  color: #6ea9dc;
}
#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}
